 # Source: https://stackoverflow.com/a/49684835
 # requirements.txt
 #
 # installs required functional dependencies for all users from ./setup.py, and the package itself,
 # in editable mode
 -e .

 # (the -e above is optional). you could also just install the package
 # normally with just the line below (after uncommenting)
 # .

# Additional non-functional dependencies (e.g., formatting, documentation) for developers

sphinx
sphinx_rtd_theme
ipywidgets
black
black[jupyter]
pre-commit
build
twine
