setuptools>=67.6.0
#################
# For auto-documentation. User does not need, remove later
sphinx
python-docs-theme
#################
SimpleITK==2.2.1
numpy>=1.24.0
ipywidgets==7.7.0
argparse==1.4.0
opencv-python==4.7.0.72
pytest==6.2.5
PySide6==6.4.3
qimage2ndarray==1.10.0
screeninfo==0.8.1
##############
# Autoformatting. User does not need, remove later
black==23.1.0
black[jupyter]==23.1.0
##############
pre-commit==3.2.1
