setuptools>=67.6.0
#################
# For auto-documentation. User does not need, remove later
sphinx
python-docs-theme
#################
SimpleITK==2.2.1
numpy>=1.24.0
ipywidgets==7.7.0
argparse==1.4.0
opencv-python==4.7.0.72
pytest==6.2.5
PyQt6==6.4.2
qimage2ndarray==1.10.0
screeninfo
##############
# Autoformatting. User does not need, remove later
black
black[jupyter]
##############
