setuptools>=67.6.0
sphinx
sphinx-rtd-theme
qimage2ndarray==1.10.0
SimpleITK==2.2.1
matplotlib==3.5.2
numpy>=1.24.0
ipywidgets==7.7.0
argparse==1.4.0
opencv-python==4.7.0.72
pytest==6.2.5
autopep8==2.0.2
PyQt6==6.4.2
qimage2ndarray==1.10.0